* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

:root {
    --v-main-module-background-color: rgb(255, 255, 255);
    --v-login-font-color: rgb(123, 123, 123);
    --v-main-border-color: rgb(219, 219, 219);
    --v-main-box-shadow-color: rgb(237, 237, 237);
    --v-main-focus-color: rgb(0, 76, 255);
}

.v-module-container {
    width: 100%;
    height: 100%;
    background-color: red;
}