* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Open Sans", Arial;
    font-weight: normal;
}

#root {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

:root {
    --v-main-module-background-color: rgb(255, 255, 255);
    --v-login-font-color: rgb(123, 123, 123);
    --v-main-border-color: rgb(219, 219, 219);
    --v-main-box-shadow-color: rgb(237, 237, 237);
    --v-main-focus-color: rgb(66, 108, 206);
    --v-main-danger-color: rgb(197, 21, 21);
}

.v-module-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.v-loading-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}